@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap");
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

@media (width >= 650px) {
  .people-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #292f42;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
  }
  .people-card:hover .people-card_container {
    border: 1px solid hsla(210, 13%, 50%, 0.25);
    background-color: #546c82;
  }
  .people-card_container {
    transition: 150ms linear;
    background-color: #6a869f;
    height: 100%;
    min-height: 80%;
    min-width: 80%;
    font-size: 110%;
    border-radius: 0.1em;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-right: 0.2em;
  }
  .people-card_container_avatar {
    transition: 250ms infinite;
    display: flex;
    border: 0.1em solid hsl(0, 0%, 0%);
    border-radius: 50%;
    place-items: center;
  }
  .people-card_container_avatar > img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 0.1em solid white;
    border-radius: 50%;
  }
}
@media (width < 650px) {
  .people-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.2);
    width: 100%;
    text-transform: capitalize;
    text-align: center;
  }
  .people-card:hover .people-card_container {
    border: 1px solid hsla(210, 13%, 50%, 0.25);
    background-color: #546c82;
  }
  .people-card_container {
    transition: 150ms linear;
    background-color: #6a869f;
    display: flex;
    height: 100%;
    min-height: 80%;
    min-width: 95%;
    font-size: 5dvw;
    border-radius: 0.1em;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 0.2em;
    align-items: center;
    justify-content: space-evenly;
  }
  .people-card_container_avatar {
    display: flex;
    border: 0.1em solid hsl(0, 0%, 0%);
    border-radius: 50%;
    place-items: center;
    width: 25%;
  }
  .people-card_container_avatar > img {
    aspect-ratio: 1/1;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 0.1em solid white;
    border-radius: 50%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.file-upload {
  border: 0.125em dashed hsl(0, 0%, 20%);
  border-radius: 0.15em;
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.drop-area {
  display: flex;
  flex-direction: column;
  background-color: #6a869f;
  height: 100%;
  width: 100%;
  place-content: center;
  align-items: center;
  text-align: center;
}

.drop-area_uploaded {
  display: flex;
  flex-direction: column;
  background-color: #876372;
  height: 100%;
  width: 100%;
  place-content: center;
  align-items: center;
  text-align: center;
  gap: 0.125em;
}

.drop-area > div > p,
.drop-area_uploaded > div > p {
  margin: 0;
  padding: 0.25em;
  border-radius: 0.125em;
  font-size: 1.5vw;
}
@media (width < 1000px) {
  .drop-area > div > p,
  .drop-area_uploaded > div > p {
    font-size: 1em;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.post {
  display: grid;
  grid-template-columns: 14% 86%;
  border: 0.125em solid black;
  border-radius: 0.125em;
  box-shadow: 3px 3px 0px 0px #000000;
  margin-top: 0.5em;
  background-color: #f1eeef;
}
.post_content {
  display: grid;
  grid-template-columns: 94% 6%;
}
.post_content_info__content {
  display: grid;
  grid-auto-rows: auto;
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  margin-top: auto;
}
.post_content_info__content_title {
  font-size: 200%;
  width: 80%;
  margin-inline-start: 11%;
}
.post_content_info__content_image {
  display: flex;
  align-items: center;
  width: 100%; /*choose image width*/
  margin-top: 0.25em;
  padding: 0.25em;
}
.post_content_info__content_image img {
  border-radius: 0.5em;
  border: 3px solid hsla(210, 45%, 10%, 0.6);
  display: block;
  width: 80%;
  min-width: 100px;
  max-width: 900px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.636);
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 300px;
}
.post_content_info__content_text {
  padding-top: 0.5em;
  font-size: 115%;
  width: 80%;
  margin-inline-start: 11%;
}
.post_content_info__stats_likes {
  all: unset;
  top: 94%;
  left: 18%;
  display: flex;
  margin-inline-start: 2%;
  font-size: larger;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 0.25em;
  gap: 0.25em;
}
.post_content_info__stats_likes > div {
  height: -moz-fit-content;
  height: fit-content;
}
.post_content_info__stats_time {
  display: flex;
  align-items: end;
  justify-content: end;
  font-size: 90%;
  color: hsla(210, 13%, 50%, 0.5);
}
.post_content_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post_content_buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-content: start;
}
.post_comment {
  background-color: #e5e0e2;
  width: 98%;
  margin: auto;
  border-bottom: 0.125em solid black;
  border-left: 0.125em solid black;
  border-right: 0.125em solid black;
  box-shadow: 3px 3px 0px 0px #000000;
  margin-bottom: 0.5em;
  border-radius: 0.125em;
}

.like-button {
  all: unset;
  display: flex;
  color: grey;
  margin-top: 0.1em;
  transition: color 100ms linear;
}
.like-button:hover {
  color: hsl(350, 100%, 80%);
}
.like-button:disabled {
  color: hsl(350, 100%, 70%);
}

.edit-button {
  all: unset;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  color: #6a869f;
}
.edit-button :hover {
  border-radius: 0.125em;
  color: #f1eeef;
  background-color: #8189a9;
}
.edit-button.active {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  background-color: hsl(186, 50%, 23%);
  border-radius: 0.125em;
  color: #f1eeef;
}
.edit-button.active :hover {
  border-radius: 0.125em;
  color: #f1eeef;
  background-color: #308891;
}

.delete-button {
  all: unset;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  color: hsl(14, 100%, 27%);
}
.delete-button :hover {
  border-radius: 0.125em;
  color: #f1eeef;
  background-color: hsla(0, 50%, 50%, 0.8);
}

@media (width < 650px) {
  .post {
    display: flex;
    flex-direction: column;
    border: 0.125em solid black;
    border-radius: 0.125em;
    box-shadow: 3px 3px 0px 0px #000000;
    margin-top: 0.5em;
    background-color: #f1eeef;
  }
  .post_content {
    display: flex;
    flex-direction: column;
  }
  .post_content_info__content {
    display: grid;
    grid-auto-rows: auto;
    height: 100%;
    width: 100%;
    text-align: left;
    align-items: center;
    margin-top: auto;
  }
  .post_content_info__content_title {
    font-size: 200%;
    width: 80%;
    margin-inline-start: 11%;
  }
  .post_content_info__content_image {
    display: flex;
    align-items: center;
    width: auto;
    margin-top: 0.25em;
    padding: 0.25em;
  }
  .post_content_info__content_image img {
    border-radius: 0.5em;
    border: 3px solid hsla(210, 45%, 10%, 0.6);
    display: block;
    width: 95%;
    min-width: 100px;
    max-width: 900px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.636);
  }
  .post_content_info__content_text {
    padding-top: 0.5em;
    font-size: 115%;
    width: 80%;
    margin-inline-start: 11%;
  }
  .post_content_info__stats_likes {
    all: unset;
    top: 94%;
    left: 18%;
    display: flex;
    font-size: larger;
    margin-bottom: 0.25em;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 0.25em;
    gap: 0.25em;
  }
  .post_content_info__stats_likes > div {
    height: -moz-fit-content;
    height: fit-content;
  }
  .post_content_info__stats_time {
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 90%;
    color: hsla(210, 13%, 50%, 0.5);
  }
  .post_content_sidebar {
    display: flex;
    flex-direction: row-reverse;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: space-between;
  }
  .post_content_buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-content: start;
  }
  .post_comment {
    background-color: #e5e0e2;
    width: 98%;
    margin: auto;
    border-bottom: 0.125em solid black;
    border-left: 0.125em solid black;
    border-right: 0.125em solid black;
    box-shadow: 3px 3px 0px 0px #000000;
    margin-bottom: 0.5em;
    border-radius: 0.125em;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.comment {
  display: grid;
  grid-template-columns: 20% 80%;
  animation: fade-in 0.5s;
  box-shadow: 0px -2px 0px 0px #6a869f;
  width: 99%;
  margin: auto;
  padding: 0.25em;
  padding-bottom: 0.4em;
}
.comment > a {
  width: 60%;
}
.comment_content {
  display: grid;
  grid-template-columns: 92% 8%;
}
.comment_content_info {
  display: grid;
}
.comment_content_info_text {
  display: flex;
  align-items: center;
  font-size: 120%;
}
.comment_content_stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comment_content_stats > * {
  display: flex;
  place-content: end;
}
.comment_content_stats_time {
  color: hsla(210, 13%, 50%, 0.5);
  font-size: 1vw;
}

.comment-box {
  display: grid;
  grid-template-columns: 80% 20%;
  border-left: 2px solid #292f42;
  border-right: 2px solid #292f42;
  padding: 0.75em 0.5em 0.5em 0.5em;
  margin: 0 0.25em 0.25em 0.25em;
}
.comment-box > button {
  display: flex;
  justify-content: center;
  margin: auto;
  max-height: 1em;
  width: 90%;
  gap: 0.2rem;
  font-size: 1rem;
  vertical-align: text-bottom;
  background-color: #f1eeef;
}
.comment-box > textarea {
  height: 2em;
  transition: 150ms linear;
  width: 95%;
}
.comment-box > textarea:focus {
  height: 4em;
}
.comment-box > textarea:focus .comment-box button {
  height: 4em;
}

@media (width < 650px) {
  .comment {
    display: flex;
    flex-direction: column;
    box-shadow: 0px -2px 0px 0px #6a869f;
    width: 99%;
    margin: auto;
    padding: 0.25em;
    padding-bottom: 0.4em;
  }
  .comment > a {
    width: 100%;
    height: 100%;
  }
  .comment_content {
    display: flex;
    flex-direction: column;
  }
  .comment_content_info {
    display: grid;
  }
  .comment_content_info_text {
    display: flex;
    align-items: center;
    font-size: 1em;
  }
  .comment_content_stats {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .comment_content_stats > * {
    display: flex;
    place-content: end;
  }
  .comment_content_stats_time {
    color: hsla(210, 13%, 50%, 0.5);
    font-size: 0.75em;
  }
  .comment-box {
    display: grid;
    grid-template-columns: 80% 20%;
    border-left: 2px solid #292f42;
    border-right: 2px solid #292f42;
    padding: 0.75em 0.5em 0.5em 0.5em;
    margin: 0 0.25em 0.25em 0.25em;
  }
  .comment-box > button {
    margin: auto;
    max-height: 1em;
    width: 55%;
    vertical-align: text-bottom;
    background-color: #f1eeef;
  }
  .comment-box > button > div {
    display: none;
  }
  .comment-box > textarea {
    height: 2em;
    transition: 150ms linear;
    width: 95%;
  }
  .comment-box > textarea:focus {
    height: 4em;
  }
  .comment-box > textarea:focus .comment-box button {
    height: 4em;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.post-box-container {
  background-color: #f1eeef;
  border: 0.125em solid black;
  box-shadow: 3px 3px 0px 0px #000000;
  padding: 2%;
  margin-top: 1em;
}
.post-box-container > p {
  font-size: 150%;
  margin: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #292f42;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.post-box {
  background-color: #f1eeef;
  display: grid;
  grid-template-columns: 14% 86%;
  border-radius: 0.125em;
}
.post-box-title {
  display: grid;
  grid-template-columns: 10% auto;
  padding: 0.5em;
  gap: 4px;
}
.post-box-title_label {
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.75em 0.25em 0.75em 0.25em;
  border-bottom-left-radius: 0.125em;
  border-top-left-radius: 0.125em;
  background-color: #6a869f;
  text-indent: 0.25em;
}
.post-box-title_title {
  box-shadow: 3px 3px 0px 0px #000000;
  width: 85%;
}
.post-box-text {
  display: grid;
  grid-template-columns: 10% auto;
  padding: 0.5em;
  gap: 4px;
}
.post-box-text_label {
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.75em 0.25em 0.75em 0.25em;
  border-bottom-left-radius: 0.125em;
  border-top-left-radius: 0.125em;
  background-color: #6a869f;
  text-indent: 0.25em;
}
.post-box-text_text {
  box-shadow: 3px 3px 0px 0px #000000;
  width: 85%;
  min-height: 8vh;
}
.post-box-image {
  display: grid;
  grid-template-columns: 10% 50%;
  padding: 0.5em;
  gap: 4px;
}
.post-box-image_label {
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.75em 0.25em 0.75em 0.25em;
  border-bottom-left-radius: 0.125em;
  border-top-left-radius: 0.125em;
  background-color: #6a869f;
  text-indent: 0.25em;
}
.post-box-image_image {
  box-shadow: 0px 0px 2px 1px #292f42;
  border-radius: 0.125em;
  width: 99%;
  height: 100%;
}
.post-box-button {
  display: flex;
  justify-content: end;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

@media (width < 650px) {
  .post-box {
    display: flex;
    flex-direction: column;
    background-color: #f1eeef;
    grid-template-rows: none;
    grid-template-columns: none;
    border-radius: 0.125em;
    border: 0.125em solid black;
    box-shadow: 3px 3px 0px 0px #000000;
  }
  .post-box-title {
    display: grid;
    grid-template-columns: 17% auto;
    padding: 0.5em;
    gap: 4px;
  }
  .post-box-title_label {
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.75em 0.25em 0.75em 0.25em;
    border-bottom-left-radius: 0.125em;
    border-top-left-radius: 0.125em;
    background-color: #6a869f;
    text-indent: 0.25em;
  }
  .post-box-title_title {
    box-shadow: 3px 3px 0px 0px #000000;
    width: 99%;
  }
  .post-box-text {
    display: grid;
    grid-template-columns: 17% auto;
    padding: 0.5em;
    gap: 4px;
  }
  .post-box-text_label {
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.75em 0.25em 0.75em 0.25em;
    border-bottom-left-radius: 0.125em;
    border-top-left-radius: 0.125em;
    background-color: #6a869f;
    text-indent: 0.25em;
  }
  .post-box-text_text {
    box-shadow: 3px 3px 0px 0px #000000;
    width: 99%;
    min-height: 8vh;
  }
  .post-box-image {
    display: grid;
    grid-template-columns: 17% auto;
    padding: 0.5em;
    gap: 4px;
  }
  .post-box-image_label {
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.75em 0.25em 0.75em 0.25em;
    background-color: #6a869f;
    text-indent: 0.25em;
  }
  .post-box-image_image {
    box-shadow: 0px 0px 2px 1px #292f42;
    width: 99%;
    height: 100%;
  }
  .post-box-button {
    display: flex;
    justify-content: end;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-info {
  display: grid;
  margin: auto;
  margin-bottom: 1em;
  grid-template-columns: 35% 45%;
  width: 90%;
  min-height: 250px;
  padding: 1em;
  background-size: cover;
  box-shadow: 3px 3px 0px 0px #000000;
  border: 1px solid #292f42;
  border-radius: 0.15em;
  background: linear-gradient(45deg, rgb(129, 137, 169) 0%, rgb(106, 134, 159) 30%, rgb(106, 134, 159) 55%, rgb(129, 137, 169) 100%);
}
.profile-info_avatar {
  display: flex;
  border: 2px solid #292f42;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  margin-bottom: 1em;
}
.profile-info_avatar > img {
  aspect-ratio: 1/1;
  display: flex;
  place-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid white;
  width: 100%;
  border-radius: 50%;
}
.profile-info_grid1 {
  display: grid;
  margin: auto;
  grid-template-rows: 90% 10%;
}
.profile-info_field {
  display: grid;
  grid-template-rows: 35% repeat(3, 25%);
  margin: auto;
  gap: 1em;
}
.profile-info_field > * {
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 0.25em;
  border-radius: 0.1em;
  box-shadow: 0px 0px 5px 1px #6a869f;
}
.profile-info_field_name {
  font-size: 250%;
  font-weight: 700;
}
.profile-info_field_text {
  position: relative;
  top: 55%;
  display: flex;
  gap: 1em;
  font-size: 125%;
}
.profile-button {
  width: 100%;
  bottom: 10%;
  left: 55%;
  text-align: center;
}
.profile-button > button {
  background-color: #f1eeef;
}

@media (width < 650px) {
  .profile-info_field {
    font-size: 1.5dvh;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.login-form {
  display: grid;
  grid-template-rows: 10% 10% 10%;
  align-items: center;
}
.login-form > div {
  margin-top: 50%;
  display: grid;
  width: 100%;
  grid-template-columns: 22% 78%;
}
.login-form > span {
  color: red;
  margin: 5em auto auto auto;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.signup-form {
  grid-auto-rows: auto;
  font-size: 90%;
  align-items: center;
}
.signup-form > div {
  align-items: center;
  display: grid;
  grid-template-columns: 22% 78%;
}
.signup-form > span {
  color: red;
  position: absolute;
  top: 25%;
}
.signup-fileupload {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}
.signup-button {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.login-page .button-wrapper,
.signup-page .button-wrapper {
  display: grid;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
  grid-template-columns: 50% 50%;
  height: 100%;
  align-items: center;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  background-color: #8189a9;
}
.login-page .button-wrapper > div,
.signup-page .button-wrapper > div {
  cursor: pointer;
  height: inherit;
}
.login-page .button-wrapper > div > button,
.signup-page .button-wrapper > div > button {
  all: unset;
  height: inherit;
  width: 100%;
}

.login-page .button-wrapper :last-child :last-child {
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  background-color: #454c65;
  color: #cec4c8;
}

.signup-page .button-wrapper :first-child :first-child {
  border-bottom-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  background-color: #454c65;
  color: #cec4c8;
}

.login-page,
.signup-page {
  display: grid;
  margin: auto;
  width: 60%;
  height: 85vh;
  min-height: 500px;
  grid-template-rows: 4% 75% 20%;
}

@media (width < 1000px) {
  .login-page,
  .signup-page {
    width: 90%;
  }
  .login-page label,
  .signup-page label {
    font-size: 0.8em;
  }
}
.login-form,
.signup-form {
  background-color: #8189a9;
  display: grid;
  width: 75%;
  height: 100%;
  margin: auto;
  padding: 1em;
  border-radius: 0.15em;
  box-shadow: 3px 3px 0px 0px #000000;
}
.login-form div,
.signup-form div {
  vertical-align: middle;
}
.login-form label,
.signup-form label {
  height: 1.5em;
}
.login-form input,
.signup-form input {
  height: 1.5em;
  box-shadow: 3px 3px 0px 0px #000000;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

@media (width >= 1000px) {
  .Layout {
    display: grid;
    grid-template-columns: 14% 86%;
    min-height: 100%;
    margin: auto;
  }
  .Layout-content {
    width: 100%;
    min-height: 100dvh;
    padding-bottom: 2em;
  }
  .Layout-header {
    display: flex;
    justify-content: center;
    background-color: #292f42;
    text-align: center;
    margin: 0 auto 0.25em auto;
    padding: 2em;
    box-shadow: -1px 0px 2px 1px #f1eeef;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .Layout-header :first-child {
    display: flex;
    color: gold;
    font-family: "Yellowtail", cursive;
    font-size: 4em;
  }
  .Layout-header :last-child {
    display: flex;
    align-items: center;
    margin-left: 0.25em;
    color: #f1eeef;
    font-family: "Belanosima", sans-serif;
    font-size: 4em;
  }
  .Layout-sidebar {
    position: sticky;
    top: 0;
    height: 100dvh;
    margin-left: 20%;
    background-color: #6a869f;
    min-width: 80%;
    box-shadow: 0px 0px 2px 1px black;
  }
  .Layout-outlet {
    width: 95%;
    margin: auto 2em auto 2em;
    padding-bottom: 40px;
  }
  .Layout-outlet > * {
    animation: fade-in 250ms;
  }
  .sidebar {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    grid-template-rows: repeat(auto, 2em);
    gap: 0.5em;
    margin-top: 20dvh;
    width: 100%;
  }
  .sidebar-link {
    display: inline-block;
    position: relative;
    transition: 400ms ease-in-out, background-color 300ms ease-in-out, margin 200ms ease-in-out;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding: 1em;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .sidebar-link.active {
    background-color: #292f42;
    margin-left: 15%;
    cursor: default;
    pointer-events: none;
    color: #f1eeef;
  }
  .sidebar-link.active > svg {
    color: #f1eeef;
    opacity: 100;
  }
  .sidebar-link.active:hover {
    all: none;
  }
  .sidebar-link.inactive:hover {
    background-color: #876372;
    margin-left: 15%;
    color: #f1eeef;
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.1411764706);
  }
  .sidebar-link.inactive:hover > svg {
    color: #f1eeef;
    opacity: 100;
  }
  .sidebar-link > svg {
    transition: 400ms ease-in-out;
    color: #6a869f;
    opacity: 0;
  }
  .sidebar > div {
    height: -moz-fit-content;
    height: fit-content;
    padding: 1em;
  }
}
.sidebar-smallscreen {
  display: none;
}

@media (width < 1000px) {
  .sidebar {
    display: none;
  }
}
.dropdown {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
  place-content: center;
  transition: all 300ms ease-in-out;
}
.dropdown.active {
  background-color: #292f42;
}
.dropdown.active .dropdown-icon {
  color: #f1eeef;
}
.dropdown_links {
  display: none;
  opacity: 0;
  border: 1px solid #292f42;
  border-radius: 0.125em;
}
.dropdown_links.open {
  display: grid;
  opacity: 1;
  grid-template-rows: repeat(3, 33%);
  gap: 1em;
  position: absolute;
  bottom: 6em;
  right: 3%;
  background-color: #6a869f;
  padding: 0.25em;
}
.dropdown_links.open > a {
  padding: 1em;
}
.dropdown-link {
  background-color: #6a869f;
  color: #292f42;
}
.dropdown-link.active {
  background-color: #292f42;
  color: #f1eeef;
}
.dropdown-link:hover {
  background-color: #292f42;
  color: #f1eeef;
}

@media (width < 1000px) {
  :root {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: 0; /* Firefox */
  }
  :root::-webkit-scrollbar {
    display: none;
  }
  .Layout {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    min-height: 100vh;
  }
  .Layout-header {
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
    background-color: #292f42;
    text-align: center;
    margin: 0 auto 0.25em auto;
    padding: 2em;
    box-shadow: -1px 0px 2px 1px #f1eeef;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .Layout-header :first-child {
    display: flex;
    color: gold;
    font-family: "Yellowtail", cursive;
    font-size: 4em;
  }
  .Layout-header :last-child {
    display: flex;
    align-items: center;
    margin-left: 0.25em;
    color: #f1eeef;
    font-family: "Belanosima", sans-serif;
    font-size: 4em;
  }
  .Layout-content {
    width: 100dvw;
    min-height: 100dvh;
  }
  .Layout-sidebar {
    position: sticky;
    bottom: 0;
    min-height: 8dvh;
    place-content: center;
    background-color: #6a869f;
    z-index: 101;
    border-top: 1px solid #292f42;
  }
  .Layout-outlet {
    width: 98%;
    margin: auto;
    padding-bottom: 40px;
  }
  .Layout-outlet > * {
    animation: fade-in 250ms;
  }
  .sidebar-smallscreen {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(3, 30%) 10%;
    min-height: 8dvh;
  }
  .sidebar-smallscreen-link,
  .sidebar-smallscreen .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    transition: all 200ms ease-in-out;
  }
  .sidebar-smallscreen-link > svg,
  .sidebar-smallscreen .dropdown > svg {
    margin-bottom: 0.4em;
  }
  .sidebar-smallscreen-link:hover,
  .sidebar-smallscreen .dropdown:hover {
    color: #f1eeef;
    background-color: #292f42;
  }
  .sidebar-smallscreen-link.active {
    background-color: #292f42;
    cursor: default;
    pointer-events: none;
    color: #f1eeef;
  }
  .sidebar-smallscreen-link.active > svg {
    color: #f1eeef;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.account {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 60%;
  border-radius: 0.125em;
  gap: 0.5em;
  background-color: #8189a9;
  padding: 1em 1em 2em 1em;
  margin: auto;
  box-shadow: 3px 3px 0px 0px #000000;
}
.account_first_name, .account_last_name, .account_email, .account_address, .account_birthdate {
  display: grid;
  grid-template-columns: 20% 60%;
  height: 1.5em;
}
.account_avatar {
  margin: auto;
  position: relative;
}
.account_avatar_image {
  width: 100%;
  border-radius: 50%;
  border: 0.125em solid #f1eeef;
}
.account_avatar_edit {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  place-content: center;
  border: 0.125em solid #f1eeef;
  width: 100%;
  height: 97%;
  border-radius: 50%;
  z-index: 1;
  color: #5a6791;
  transition: 150ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
}
.account_avatar_edit.active {
  cursor: pointer;
  opacity: 1;
  background-color: hsla(0, 0%, 100%, 0.5);
  color: #292f42;
}
.account_button {
  display: flex;
  justify-content: end;
  margin-right: 20%;
}

@media (width < 1000px) {
  .account {
    width: 90%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #6a869f;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  border-radius: 0.125em;
  box-shadow: 3px 3px 0px 0px #000000;
  border: 1px solid #292f42;
  gap: 1em;
  width: 50%;
  margin: 2em auto;
}
.about-head {
  font-size: larger;
  margin-inline-start: 5%;
}
.about-stack {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-inline-start: 7%;
  font-size: large;
}
.about-stack-item {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 5% 75%;
  margin-inline-start: 10%;
}

@media (width < 1000px) {
  .about {
    width: 90%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.modal-box {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 20dvw;
  height: 20dvh;
}
.modal-content {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal-text, .modal-buttons {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.modal-text {
  font-size: 1.5em;
}
.modal-buttons > * {
  width: 25%;
}
.modal-buttons > :first-child {
  margin-right: 1em;
  color: hsl(186, 50%, 23%);
}
.modal-buttons > :first-child:hover {
  background-color: hsl(186, 50%, 23%);
  color: #f1eeef;
}
.modal-buttons > :last-child {
  color: #876372;
}
.modal-buttons > :last-child:hover {
  color: #f1eeef;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.friends {
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(4, 20%);
  gap: 1%;
  margin: 1em auto;
  align-content: center;
  place-content: center;
}
.friends > * {
  box-sizing: border-box;
  border: unset;
}
.friends > * > div {
  margin: unset;
  border: 1px solid black;
  box-shadow: 2px 2px 0px 1px #292f42;
}

@media (width < 650px) {
  .friends {
    display: flex;
    flex-direction: column;
    margin: auto;
    place-content: center;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a,
a:visited,
a:hover {
  color: unset;
}

.button-sq {
  all: unset;
  border: 0.125em solid #292f42;
  padding: 0.4em;
  box-shadow: 2px 2px 0px 1px #292f42;
  cursor: pointer;
  transition: all 200ms linear, transform 50ms linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding-bottom: 0.5em;
}
.button-sq:hover {
  background-color: #876372;
  color: #f1eeef;
}
.button-sq:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px 1px #292f42;
  background-color: #3d2d34;
}

.loading-wrapper {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.loading-spin {
  animation: spin 500ms ease-in-out infinite;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0em;
}

label {
  text-transform: capitalize;
}

.border {
  border: 2px solid black;
  margin: 2px;
  border-radius: 3px;
}

.pad {
  padding: 2%;
}

.bg-grey {
  background-color: slategrey;
}

.bg-white {
  background-color: #f1eeef;
}

.bg-blue {
  background-color: #70aaaf;
}

.icon {
  position: relative;
  top: 0.15em;
}

.img {
  max-width: 2em;
  max-height: 2em;
}

a:-moz-any-link {
  text-decoration: none;
}

a,
a:visited,
a:active,
a::before,
a::after,
a:link,
a:any-link {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */