@import './config';

.file-upload {
    border: 0.125em dashed hsl(0, 0%, 20%);
    border-radius: 0.15em;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.drop-area {
    display: flex;
    flex-direction: column;
    background-color: $color3;
    height: 100%;
    width: 100%;
    place-content: center;
    align-items: center;
    text-align: center;
}

.drop-area_uploaded {
    display: flex;
    flex-direction: column;
    background-color: $color4;

    height: 100%;
    width: 100%;
    place-content: center;
    align-items: center;
    text-align: center;
    gap: 0.125em;
}

.drop-area > div > p,
.drop-area_uploaded > div > p {
    margin: 0;
    padding: 0.25em;
    border-radius: 0.125em;
    font-size: 1.5vw;
    @media (width < $tablet-width) {
        font-size: 1em;
    }
}
