@import './config';

.modal {
    // all: unset;
    // display: inherit;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // z-index: 99;
    // overflow: hidden;
    // background-color: hsla(1, 1, 1, 0.5);
    // border: none;

    &-box {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        width: 20dvw;
        height: 20dvh;
    }

    &-content {
        display: flex;
        flex-direction: column;
        place-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &-text,
    &-buttons {
        display: flex;
        place-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    &-text {
        font-size: 1.5em;
    }

    &-buttons {
        & > * {
            width: 25%;
        }
        & > :first-child {
            margin-right: 1em;
            color: $color6;
            &:hover {
                background-color: $color6;
                color: $color1;
            }
        }

        & > :last-child {
            color: $color4;
            &:hover {
                color: $color1;
            }
        }
    }
}
