@import './config';
@import './PeopleCard';
@import './FileUpload';
@import './Post';
@import './Comment';
@import './PostBox';
@import './Profile';
@import './Login';
@import './Layout';
@import './Account';
@import './About';
@import './Modal';
@import './Friends';
@import './Loading';

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0em;
}

label {
    text-transform: capitalize;
}

.border {
    border: 2px solid black;
    margin: 2px;
    border-radius: 3px;
}

.pad {
    padding: 2%;
}

.bg-grey {
    background-color: slategrey;
}

.bg-white {
    background-color: $color1;
}

.bg-blue {
    background-color: #70aaaf;
}

.icon {
    position: relative;
    top: 0.15em;
}

.img {
    max-width: 2em;
    max-height: 2em;
}

a,
a:visited,
a:active,
a::before,
a::after,
a:link,
a:any-link {
    text-decoration: none;
}
